@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,200&display=swap");

.App {
  text-align: center;
  color: white;
  font-family: "Exo 2", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://assets.objkt.media/file/assets-003/Qmdb85AvyA4Sj1gQ9VHaqbPABxDX5UCQv4rvjmK9ZCyzNj/artifact");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}
